fastapi
alembic
sqlalchemy
pydantic
loguru
python-dotenv
asyncpg
psycopg2
uvicorn
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
pyjwt
python-multipart
aiohttp
itsdangerous
minio
pandas
openpyxl
prometheus-client==0.20.0
redis==5.0.1
